{erl_opts, [{i, "src"},
            warnings_as_errors,
            debug_info,
            {w, all},
            warn_export_all]}.

{project_plugins, [rebar3_hex]}.

{pre_hooks, [{"(linux|darwin|solaris)", compile, "make nif"}]}.

{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.

{xref_checks, [fail_on_warning, undefined_function_calls]}.

